[Desktop Entry]
Name=Ralume
Comment=Record your screen with system audio and microphone
Exec=ralume
Icon=dev.local.Ralume
Terminal=false
Type=Application
Categories=AudioVideo;Recorder;
StartupNotify=true
StartupWMClass=dev.local.Ralume
